@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #f5f5f5;
    text-align: center;
}

.name {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;

    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;

    color: #02a980;

}


.gallery img {
        width: 400px;
        height: auto;
}

.social-links .social-link img {
        width: 30px;
        height: 30px;
}

.social-link {
    display: flex;
    align-items: center; 
    gap: 10px;
}